PresentationLayer/Connected Services/WcfService/BookService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IBookService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://artemchat.gear.host/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://artemchat.gear.host/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://artemchat.gear.host/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookService_CreateNewBook_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewBook" />
  </wsdl:message>
  <wsdl:message name="IBookService_CreateNewBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetAllBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooks" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetAllBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetAllAuthors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAuthors" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetAllAuthors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAuthorsResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetAllGenres_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGenres" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetAllGenres_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGenresResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookService">
    <wsdl:operation name="CreateNewBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/CreateNewBook" message="tns:IBookService_CreateNewBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/CreateNewBookResponse" message="tns:IBookService_CreateNewBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/GetAllBooks" message="tns:IBookService_GetAllBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/GetAllBooksResponse" message="tns:IBookService_GetAllBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAuthors">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/GetAllAuthors" message="tns:IBookService_GetAllAuthors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/GetAllAuthorsResponse" message="tns:IBookService_GetAllAuthors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGenres">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/GetAllGenres" message="tns:IBookService_GetAllGenres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/GetAllGenresResponse" message="tns:IBookService_GetAllGenres_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookService" type="tns:IBookService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewBook">
      <soap:operation soapAction="http://tempuri.org/IBookService/CreateNewBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <soap:operation soapAction="http://tempuri.org/IBookService/GetAllBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAuthors">
      <soap:operation soapAction="http://tempuri.org/IBookService/GetAllAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGenres">
      <soap:operation soapAction="http://tempuri.org/IBookService/GetAllGenres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IBookService" type="tns:IBookService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IBookService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewBook">
      <soap:operation soapAction="http://tempuri.org/IBookService/CreateNewBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <soap:operation soapAction="http://tempuri.org/IBookService/GetAllBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAuthors">
      <soap:operation soapAction="http://tempuri.org/IBookService/GetAllAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGenres">
      <soap:operation soapAction="http://tempuri.org/IBookService/GetAllGenres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookService">
    <wsdl:port name="BasicHttpBinding_IBookService" binding="tns:BasicHttpBinding_IBookService">
      <soap:address location="http://artemchat.gear.host/Service1.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IBookService" binding="tns:BasicHttpsBinding_IBookService">
      <soap:address location="https://artemchat.gear.host/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>